.langbar {
    position: fixed;
    top: 8px;
    right: 10px;
    height: auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    z-index: 1000;
    background-color: rgb(14, 14, 14);
    border-radius: 14px;
    padding: 8px 10px;
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1));
}

@media (max-width: 768px) {
    .langbar {
        top: auto;
        bottom: 10px;
        background-color: rgba(0, 0, 0, 0.75);
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.3));
    }
}

.langbar button {
    background: none;
    border: none;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    transition: background .25s;
    font-family: var(--font);
}

.langbar button:hover {
    background: rgba(255, 255, 255, 0.08)
}

.langbar button.active {
    background: rgba(255, 255, 255, 0.15);
}